@model mvc_project.Models.Entities.Assist
@{
    Layout = "_LayoutLogin";
}

@{
    ViewData["Title"] = "New Assist";
    List<string> Menus = new List<string>();
    Menus.Add("Clásico sin bebida");
    Menus.Add("Clásico más bebida");
    Menus.Add("Vegano con bebida");
    Menus.Add("Vegano sin bebida");
}

<h1>Nueva Inscripción</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label">Nombre</label>
                <input asp-for="Name" placeholder="Tu Nombre" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label">Apellido</label>
                <input asp-for="Surname" placeholder="Tu Apellido" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">Email</label>
                <input asp-for="Email" placeholder="Tu Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdMenu" class="control-label">Menu</label>
                  <select id="IdEmpleado" name="IdEmpleado" class="form-control">
                   
                    @{
                        foreach (var menu in Menus)
                        {
                            int id = 1;
                            <option value="id">@menu</option>
                            id=id + 1;
                        }
                      
                    }
                </select>
                <span asp-validation-for="IdMenu" class="text-danger"></span>
                <span asp-validation-for="IdMenu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Inscribirse" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>