@using mvc_project.Models.Login
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Inicio";
    LoginModel login = new LoginModel();
    List<LoginModel> loginModels = new List<LoginModel>();
    loginModels = login.CargarPersonasLogin(10);

    
}
<input type="search" placeholder="Buscar Evento"/>
<button class="btn-info">Buscar</button>

<div class="container" style="height:10%">
                    <br />
                    <center>
                        <div class="btn-group">
                            <button type="button" class="btn btn-outline-primary">Pendiente</button>
                            <button type="button" class="btn btn-outline-danger">Finalizado</button>
                            <button type="button" class="btn btn-outline-warning">Abierto</button>
                            
                        </div>
                    </center>

                </div>

<br />
<div class="row">
    <div class="col-sm-4">
        <div class="card" style="background-color: #FFEC84">
            <div class="card-header">
                <h2 class="text-center">Titulo ChoriFest</h2>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Estado:</li>

                <li class="list-group-item">Fecha:</li>
                <li class="list-group-item">Cierre Inscripción</li>
                <li class="list-group-item">Lugar</li>
                <li class="list-group-item">Cantidad Parcial</li>
                <li class="list-group-item">Costo Estimado</li>
                <li class="list-group-item">Menu</li>
            </ul>
            <div class="card-body mx-auto">
                <button type="button" class="btn btn-primary">Inscriptos</button>
                <button type="button" class="btn btn-info">Detalles</button>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="background-color: #FFEC84">
            <div class="card-header">
                <h2 class="text-center">Titulo ChoriFest</h2>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Estado:</li>

                <li class="list-group-item">Fecha:</li>
                <li class="list-group-item">Cierre Inscripción</li>
                <li class="list-group-item">Lugar</li>
                <li class="list-group-item">Cantidad Parcial</li>
                <li class="list-group-item">Costo Estimado</li>
                <li class="list-group-item">Menu</li>
            </ul>
            <div class="card-body mx-auto">
                <button type="button" class="btn btn-primary">Inscriptos</button>
                <button type="button" class="btn btn-info">Detalles</button>

            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" style="background-color: #FFEC84">
            <div class="card-header">
                <h2 class="text-center">Titulo ChoriFest</h2>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item">Estado:</li>

                <li class="list-group-item">Fecha:</li>
                <li class="list-group-item">Cierre Inscripción</li>
                <li class="list-group-item">Lugar</li>
                <li class="list-group-item">Cantidad Parcial</li>
                <li class="list-group-item">Costo Estimado</li>
                <li class="list-group-item">Menu</li>
            </ul>
            <div class="card-body mx-auto">
               <button type="button" class="btn btn-primary">Inscriptos</button>
                <button type="button" class="btn btn-info">Detalles</button>

            </div>
        </div>

    </div>
</div>
<br />
<a class="btn btn-block alert-info" asp-controller="Product" asp-action="Index" type="button">Ver productos cargados</a>
<a class="btn btn-block alert-info" asp-controller="ChoriFest" asp-action="Index" type="button">Ver Todos los Eventos</a>
<a class="btn btn-block alert-info" asp-controller="ChoriFest" asp-action="Create" type="button">Crear Nuevo Evento</a>

<br />
<br />
<h3>Lista de Anotados</h3>

<div class="table-responsive table-bordered">
    <table class="table">

        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Accion</th>
            
        </tr>
        @foreach (var item in loginModels)
        {
            <tr>                
                <td>@item.name</td>
                <td>@item.surname</td>
                <td>
                <a>Ver Inscripción</a> |
                <a>Editar</a> |
                <a>Borrar</a>
            </td>
                            
            </tr>

        }
    </table>
</div>
<br />
<br />





